<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
            href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../css/style.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<header id="topnav">
    <nav>
        <a href="/"><img src="../../resource/new_logo.svg" class="nav-logo"></a>
        <ul class="nav-list">
            <li><a href="/menu">이번주 학식</a></li>
            <li><a href="/talk">솜식톡</a></li>
            <li><a href="/board/items">솜보드</a></li>
        </ul>
    </nav>
</header>
<body>
<div class="container">

    <div class="py-5 text-center">
        <h2 th:if="${param.status}" th:text="'저장 완료'"></h2>
    </div>

    <div class="form-sub-text">
        <label for="itemId">솜talk ID</label>
        <input type="text" id="itemId" name="itemId" class="form-control" value="1" th:value="${item.id}" readonly>
    </div>
    <div></div>
    <div>
        <label for="content">건의 내용</label>
        <input type="text" id="content" name="content" class="form-control" value="내용을 입력해주세요." th:value="${item.content}" readonly>
    </div>

    <hr class="my-4">

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg"
                    onclick="location.href='editForm.html'"
                    th:onclick="|location.href='@{/board/items/{itemId}/edit(itemId=${item.id})}'|"
                    type="button">솜talk 수정</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='items.html'"
                    th:onclick="|location.href='@{/board/items}'|"
                    type="button">게시판으로</button>
        </div>
    </div>

</div> <!-- /container -->
</body>
</html>