<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>Somsik Talk</title>
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" href="../css/style.css" rel="stylesheet">
</head>
<header id="topnav">
    <nav>
        <a href="/"><img src="../resource/new_logo.svg" class="nav-logo"></a>
            <ul class="nav-list">
                <li><a href="/menu">이번주 학식</a></li>
                <li><a href="/talk">솜식톡</a></li>
                <li><a href="/board/items">솜보드</a></li>
            </ul>
    </nav>
</header>
<body>
<div class=title-element>
    <img src="../resource/new_logo.svg" alt="Logo" class="logo">
    <div class=text_subTitle>솜솜이의 학식을</div>
    <div class=text_subTitle>바꾸어요!</div>
    <a href="/board/items"><img src="../resource/start_logo.png" alt="Logo" class="start-logo"></a>
</div>
<!--    <a href="#" class="btn_y">-->
<!--        <p class="btn_txt">솜솜이(학생)</p>-->
<!--    </a>-->
<!--    <a href="#" class="btn_y">-->
<!--        <p class="btn_txt">솜솜이(학생)</p>-->
<!--    </a>-->
</div>
<div class="bg-img">
    <img src="../resource/bg_img_1.svg" alt="index_img" class="index_img index-img-left">
    <img src="../resource/bg_img_2.svg" alt="index_img" class="index_img index-img-right">
</div>
</body>
</html>
