body {
    background-color: #E9EAF1;
    word-break: keep-all;
    word-wrap: break-word;
}

/* header */
.logo {
    padding-bottom: 1rem;
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* nav */
.nav-logo {
    width: 180px;
    transition: 0.7s all;
}

/* title */
.title-element {
    padding-left: 6rem;
    padding-top: 1rem;
}
.start-logo {
    animation: float 7.5s ease-in-out infinite;
    margin-top: 100px;
    height: 30px;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}
.text_subTitle {
    color: #000;
    font-family: ChangwonDangamAsac;
    font-size: 2.12rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.2em;
}


.card-title-profile {
    width: 20%;
    padding: 1em;
}

.card-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    background: white;
}

.card-desc {
    flex: 1 1 auto;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.card-desc p {
  flex: 1;
}

@media(min-width: 600px){
    .card-list {
        display: flex;
        flex-wrap: wrap;
    }
    .card-item {
        width: 50%;
        padding: 0 1rem;
    }
}
@media(min-width: 1200px){
    .card-item {
        width: 20%;
    }
}

.card-list-con {
    overflow: hidden;
}

#box {
  border: 1px solid black;
  border-radius: 2rem;
  overflow: hidden;
  margin: 20px 10px;
  transition: all 0.3s cubic-bezier(0.42, 0.0, 0.58, 1.0);
}

/* font id */
#font-default-bold {
    color: #000;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

#font-default-regular {
    color: #000;
    font-family: Pretendard;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* nav bar */
nav {
    padding-left: 22px;
    display: flex;
    align-items: center;
    padding-top: 10px;
}
/* 스타일을 적용할 네비게이션 바의 클래스 */
.nav-list {
    font-family: pretendard;
    margin: 37px 0px 0px 0px;
}

/* 네비게이션 바의 리스트 항목 스타일 */
.nav-list li {
    display: inline; /* 가로로 배치 */
    margin-right: 40px; /* 각 항목 사이의 간격 조절 */
}

/* 링크 스타일 */
.nav-list li a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #333; /* 텍스트 색상 설정 */
    font-weight: bold; /* 글꼴 굵기 설정 */
}

/* 링크 호버 효과 */
.nav-list li a:hover {
    color: #007bff; /* 호버 시 텍스트 색상 변경 */
}

/* bg img */
.bg-img {
    position: fixed;
    right: -13rem;
    transform: translate(0, -50%) scale(0.8); /* 세로 중간 정렬 */
}

.index-img-left {
    margin-top: -665px;
    padding-right: 20px;
}
.index-img-right {
    margin-top: -200px;
    margin-bottom: 50px;
}

h2 {
    font-family: ChangwonDangamAsac;
}

.form-sub-text {
    font-family: pretendard;
}